.cal_box4 {
    display: flex;
       
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
}
.cal_box4>h3{
    font-weight: bold;
    font-size: 2rem;   
}
.cal_box4>p{
    font-weight: lighter;
    font-size: 1.3rem;
    padding: 1rem 0rem 3rem 0rem;   
}
.b4_c1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:auto;
}
.b4_b1_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.b4_left_b1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width:100%;
    height:auto;
    gap:4rem;
}
.countryselector{
    padding: 3rem 1rem;
    position: relative;
}
.countryselector>h4{
    font-size: 1rem;
    font-weight: bold;
    /* padding-bottom: 0.7rem; */
    height:4rem;
}
.kmsshared{
    padding: 3rem 1rem;
    position: relative;
}
.kmsshared>h4{
    font-size: 1rem;
    font-weight: bold;
    /* padding-bottom:0.7rem; */
    height:4rem;
}
.kmsshared>input{
    border:1px solid lightgray;
    border-radius: 1rem;
    padding: .5rem 3rem;
    font-size: 1rem;
    width:100%;
    margin:0rem;
}
.kmsshared>input:focus{
    border: 1px solid #707070;
    outline-width: 0;
}


.notify1{
    color:red;
    font-size: .8rem;
    text-align:left;
    padding: 0rem 0rem;
    position: absolute;
    top: 6rem;
    left: 3rem;
  

}
.notify2 {
    color: red;
    font-size: .8rem;
    text-align: left;
    padding: 0rem 0rem;
    position: absolute;
    top: 6rem;
    left: 3rem;


}

.b4_b1_left>button {
    display: inline-block;
    background-color: #e21212;
    color: white;
    border-radius: 1rem;
    border: white;
    box-shadow: 0px 0.1rem lightgrey;
    text-align: center;
    text-decoration: none;
    padding: 0.7rem 3rem 0.7rem 3rem;
    transition: 1s;
    width:50%;
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    }
    .b_box2{
        text-align: justify;
        padding-left: 2rem;
    }
.b4_b1_left>button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1);
    transform: translate(0px, -10px) scale(1);
}

  /* .b4_b1_left>button:hover {
    color: rgb(231, 232, 233);
    box-shadow: 0px 0.2rem lightgrey;
  } */
  #country{
      padding: 0.5rem 3rem;
      background-color: #e21212;
      color:white;
      border:0px solid gray;
      border-radius: 1rem;
      width:100%;
  }

  #country:focus{
    border: none;
    outline-width: 0;
}
  .country_option{
      background-color: white;
      color:black;
      padding: 2rem 2rem;
     
  }

.graphs__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap:2rem;
    padding-top:2rem ;
}
.graphs__container__cards{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items:; */
    gap:2rem;
    width: 40rem;
    height: 46rem;
}
.graphs__container__cards p{
    margin:0;
}
.graphs__container__firstcard{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
.graphs__container__fcard_header *{
    color:#707070;
    padding:.8rem;


}
.graphs__container__firstcard h5{
    color:#707070;
}
.graphs__container__fcard{
    display:flex;
    flex-direction:column;
    color:#707070;
    gap:1rem;

    
    
   
}
.graphs__container__fcard__childs{
    padding:1.5rem;
    font-size:1.3rem;
    color:white;
    
}
.graphs__container__fcard__childs:nth-child(1){
    background-color:rgb(71 188 4)


}
.graphs__container__fcard__childs:nth-child(2){
    background-color:rgb(70 107 150)
}
.graphs__container__fcard__childs:nth-child(3){
    background-color: rgb(235 132 129)
}
.graphs__container__cards>p{
    text-align: center;
}

.recharts-legend-icon {
    font-size: smaller;

}

@media only screen and (max-width: 1300px) {
    .b4_c1 {
        justify-content: center;
    }
}
@media only screen and (max-width: 500px) {
    .graphs__container__cards{
        width: 25rem;
        height: 30rem;
    }
    .graphs__container {
        gap: 5rem;
        margin-top: 2rem;

    }
    .b4_left_b1 {
        flex-direction: column;
        gap: 2rem;
    }
    .countryselector {
        padding: 2rem 0 0 0;

    }
    .kmsshared {
        padding: 0;
        position: relative;
    }
    .b4_b1_left {

        gap: 3rem;
    }
    .b4_b1_left>button {
        width: 100%;

    }
    .kmsshared>h4 {

        padding-bottom: 0rem;
     }
     .notify1 {
        color: red;
        font-size: .8rem;
        text-align: left;
        padding: 0rem 0rem;
        position: absolute;
        top: 5rem;
        left: 3rem;
    }
    .notify2 {
        color: red;
        font-size: .8rem;
        text-align: left;
        padding: 0rem 0rem;
        position: absolute;
        top: 3rem;
        left: 3rem;


    }
    .graphs__container__fcard__childs{
        padding:0.5rem;
        font-size:1rem;
    }
  
}

