@media only screen and (max-width: 900px) {
  html {
    font-size: 0.65rem;
    display: flexs;
    justify-content: center;
  }
  .NavBar {
    display: flex;
    background-color: #ffffff;
    height: auto;
    padding: 2rem 4rem;
    margin: 0rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.1rem #f3f2f0;
    border-radius: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
  }
  .lap_links {
    display: none;
  }
  .mob_links {
    margin-top: 2.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #e21212;
    opacity: 0.8;
    gap: 0.25rem;
    animation: mymove .2s linear;
  }  
  @keyframes mymove {
    from {height:0;}
    to {height:14rem;}
  }
  .active {
    border-bottom: none
  }

  .mob_a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
  }

.SignUP-SignIN{
    position: fixed;
    right: 5.5rem;
    top: 0rem;
    padding: 1rem;
    z-index: 13;
   
  }

  .icon {
    position: fixed;
    left: 0;
    top: 0;
    margin: 1rem 2.5rem;
  }
  .navbar_responsive_btn {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    margin: 1.25rem 2.5rem 0rem 0rem;
    z-index:15;
  }
  .three_lines hr:not([size]) {
    border: none;
    height: 5px;
    width: 2.2rem;
    background-color: #e21212;
    border-radius: 2rem;
    margin: 0.1rem 0;
    opacity: 1;
  }
  .cross_lines hr:not([size]) {
    border: none;
    height: 5px;
    width: 2.2rem;
    background-color: #e21212;
    border-radius: 2rem;
    margin: 0.1rem 0;
    opacity: 1;
  }
  .cross_1 {
    transform: rotate(45deg);
  }
  .cross_2 {
    transform: rotate(135deg);
    position: fixed;
  }
  .links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
  }

  /* banner1 */
  .container1-background {
    flex-direction: column;
  }
  .container1-box1-img {
    order: 1;
    width: 100%;
  }
  .container1 {
    margin: 0px 0rem 0px 0rem;
    padding: 1rem 0rem 1rem 0rem;
  }
  .container1-box1-img {
    /* yhana change kia ha */
    padding: 2rem 0rem 0rem 0rem;
    width: 100%;
  }

  .container1-box1-img img {
    padding: 0rem 1% 0rem 1%;
  }

  .container1-box1 {
    order: 2;
    padding: 1rem 2rem 1rem 2rem;
  }
  /* banner 2 */
  .b2_about {
    margin: 0px 2.5rem 0px 2.5rem;
  }

  .b2_about_para {
    margin: 0rem;
    text-align: justify;
  }
  

  /* banner6 */
  .b6 {
    margin: 0rem 2.5rem 0 2.5rem;
  }
  .b6_info {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, 13.5rem); */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0rem;
  }
  .b6_card_img {
    padding: 1rem 1rem 2rem 1rem;
    width: 13rem;
  }
  .b6_card_img img {
    border: 0rem;
  }
  .b6_card {
    width: 13rem;
    border-radius: 1rem;
    border: 0rem solid #e21212;
  }

  /* banner 7 */
  .b7 {
    margin: 0rem 0rem 0 0rem;
  }
  .b7_card {
    width: 7.5rem;
  }

  .b7_cardimg {
    width: 5rem;
  }
  .b7_box{
    padding: 1rem;
  }
  /* .b7_info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 7rem);
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 2rem 0rem 1rem 0rem;
  } */
  .b7_info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem;
  }
  /* foooooooooooooooooooooootttttttttttttttttteeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrr */
  .footer {
    grid-template-columns: 45% 45%;
    padding: 1rem ;
   
  }
  .f_feauttures {
    display: none;
  }
  .f_Commpany {
    display: none;
  }
  .f_getstarted {
    display: none;
  }

  .f_text_icon span {
    padding: 1rem 0rem 0rem .5rem;
  }

}

@media only screen and (max-width: 390px) {
  .container1-box1-img {
    width: 27rem;
   
  }
    .footer {
      grid-template-columns: auto 45%;
    
    }
}

@media only screen and (max-width: 800px) {
  /* expertise2 */
  .expertise-page {
    margin: 0 2.5rem;
  }
  .expertise_box1 {
    padding: 0rem 0rem;
  }
  .expertise_main_para {
    font-weight: normal;
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
  }
  .p_div {
    padding: 0;
  }
  /* ..........................................................Services1................................... */
  .services_box1 {
    padding: 0px 0rem;
  }
  /* .services_top_icon {
    width: 4rem;
  } */
  .services_box2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17rem);
    justify-content: space-evenly;
    column-gap: 2rem;
    row-gap: 1rem;
    padding-bottom: 3rem;
  }
  .services_icon_box {
    height: auto;
  }
  .services_b0x2_icon_img {
    padding: 0.5rem 1rem;
    width: 8rem;
    border-radius: 1rem;
    /* height:12vw; */
  }
  .services_icon_box p {
    font-size: 1rem;
  }
  .services_box3 {
    padding: 1% 0 3% 0;
  }
  .services_box3a {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 0rem;
  }
  .services_box3a_img-d-background {
    background-image: linear-gradient(to left, #ffffff 0%, white 1%);
    padding-bottom: 2rem;
  }
  .sercices_box3b_headingpara_a {
    text-align: center;
    padding: 0rem 0rem 0 0rem;
    height: auto;
    overflow-y: show;
  }
  .services_box3b {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
  }
  .services_box3b_img-d-background {
    background-image: linear-gradient(to right, #ffffff 50%, white 1%);
    padding-bottom: 2rem;
    order: 1;
  }
  .services_box3_text {
    margin-left: 2%;
    font-size: 1.2rem;
    font-weight: normal;
    /* width:14rem; */
    height: 14rem;
  }
  .services_box3_img {
    background-color: white;
    width: 5rem;
  }
  .sercices_box3b_headingpara_b {
    order: 2;
    text-align: center;
    padding: 0rem 0rem 0 0rem;
    height: auto;
    overflow-y: show;
  }

  .services_box3_img-d {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9rem;
    background-color: white;
    box-shadow: 2px 5px 3px lightgrey;
  }
}
/* Services2 */

@media only screen and (max-width: 495px) {
  .services_box2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 11rem);
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-bottom: 3rem;
  }
  .services_icon_box {
    height: auto;
  }
  
}
@media only screen and (max-width: 500px) {
  .container1-box1-img img {
    padding: 0rem 1% 0rem 1%;
  }
  .banner3_body_img {
    padding: 0rem 13% 0rem 13%;
    /* width: 100%; */
  }

  .banner_4_img {
    padding: 0rem 13% 0rem 13%;
    width: 100%;
  }
}



