.container1 {
  margin: 0px 2rem 0px 2rem;
}
.container1-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}


.container1-box1-heading {
  padding-right: 1rem;
  color: #E12121;
  font-style: normal;
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 4.5rem;
}

.container1-box1-img {
  padding: .5rem;
  width: 47rem;
}

.container1-box1-img img {
  width: 100%;
}
.container1-box1-Social-icons {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;

  gap: 0.2rem;
}
.container1-box1-Social-icons>a{
  color: #fb0000;
}
.c1-icon {
  font-size: 1.5rem;
}
