.partner {
  /* margin: 0px 30px; */
  padding:0rem 0rem;
}
.partner_box1 {
  /* height:28rem; */
  padding: 2rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    172deg,
    #ffffff 41%,
    #f7f7f7 calc(35% + 2px)
  ); */
  border-radius: 2rem;
}
.b6_heading{
  font-size: 2rem;
  font-size: bold;
  padding: 0.5rem 1.5rem 0 0;
}
.partner_box1_img {
  padding: 1rem 0rem 0rem 0rem;
  width: 85%;
  
}

.main_heading{
  color:#E12121;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 2.5rem;
}
.main_heading1{
  color: #F9F9F9;
  text-align: center;
  /* margin-top: 2.5rem; */
  padding-top: 1rem;
  font-weight: 400;
  font-size: 2.5rem;
}

.partner_team_box {
  /* margin: 0px 4.5rem; */
  padding-top: 3.1rem;
  box-shadow: 0px 0.1rem #efefef;
}
.partner_team_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  /* padding: 1rem 0px 1rem 0px; */
}
.partner_team_header>h1{
  /* padding-top:1rem ; */
}
.partner_team_header_img {
  /* padding-left: 2.3rem; */
  width: 2.5rem;
}
.partner_team_box-p {
  /* margin: 0px .5rem; */
  padding: 1rem;
  text-align: center;
}

.partner_new_img{
  background-color: #E12121;
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
}

.partner_box2_img {
  padding: 0rem 0rem 0rem 0rem;
  width: 65%;
  position:relative;
  
}
.partner_team_box-p1 {
  /* margin: 0px .5rem; */
  font-size: 1.05rem;
  text-align: center;
  color: #F9F9F9;
  padding: 0rem 0rem 0rem 0rem;
}
